.sketch-video-list {
  width: 100%;
  text-align: center;
}

.sketch-video-container {
  width: 20%;
  height: 50%;
  margin: 20px; 
  display: inline-block;
  vertical-align: top;
  position: relative;
  border: solid 1.5px rgb(0, 0, 0);
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}

.sketch-video-container:hover {
  border-color: rgb(
    255,
    0,
    0
  ); 
}

.sketch-video-container video {
  width: 100%;
  height: auto;
  display: block;
}

.video-title {
  margin-top: 10px;
  text-align: center;
  font-family: "Array", sans-serif;
  font-size: 1.5vw;
}

.video-loading {
  font-family: "Array", sans-serif;
  display: flex;
  justify-content: center;
  font-size: 2vw;
  animation: opacityAnimation 1s ease infinite alternate,
    colorAnimation 2s ease infinite alternate; 
  text-decoration: none;
}

@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes colorAnimation {
  0% {
    color: red;
  }
  100% {
    color: rgb(255, 0, 0);
  }
}

@media screen and (max-width: 1224px) {
  .sketch-video-container {
    width: 70%;
    height: auto;
    margin: 20px auto;
  }

  .video-title {
    font-size: 4vw;
  }

  .sketch-video-list-title {
    font-size: 3vw;
  }
}
